{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login">

    <h1 style="color:#F5F5F5;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:50px;">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td style="color:#F5F5F5;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px;">Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td style="color:#F5F5F5;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px">Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td ><input class="btn login_btn" type="submit" value="Login" style="color:#F5F5F5;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <p style="color:#F5F5F5;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Don't have an account yet?<a href="{% url 'main:register' %}">    Register Now</a></p>

</div>

{% endblock content %}