{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  

<div class = "login">
    
    <h1 style="color:#F5F5F5;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:50px;">Register</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table style="color:#F5F5F5;">  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td style="font-family:'Copperplate','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><input type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}